node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

.firebase
firebase_data
database-*
database.*
storage-*
storage.*
pubsub-*
pubsub.*
firestore-*
firestore.*
ui-*
